@import 'fonts';

body {
    background-color: #1d1d20;
    color: white;
    font-family: 'Roboto';

    #login-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-image: url('../images/login_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        #login-container {
            width: 440px;
            max-width: 85vw;
            height: fit-content;
            background-color: rgba(77, 77, 77, 0.9);
            border-radius: 25px;
            padding: 17px;

            h2 {
                color: white;
            }

            input {
                border: none;
            }

            input#username,
            input#password {
                width: 100%;
                height: 40px;
                margin-bottom: 15px;
                padding: 0px 10px;
                font-weight: 300;
            }

            // input[type="submit"] {
            //     background-color: white;
            //     border-radius: 5px;
            //     font-weight: 500;
            //     padding: 0px 10px;
            // }
        }

        #credit-container {
            position: absolute;
            left: 0px;
            bottom: 0px;
            background-color: rgba(77, 77, 77, 0.9);
            padding: 10px 20px;
            border-top-right-radius: 17px;

            a {
                color: #cbcbcb;
            }
        }
    }

    aside#sidebar {
        position: fixed;
        left: 0;
        top: 43px;
        height: calc(100vh - 43px);
        width: 200px;
        background-color: #202025;
        border-right: solid 1px #303437;
        transform: translateX(-100%);
        transition: 0.3s;
        z-index: 100;

        &.active {
            transform: translateX(0%);
        }

        @media screen and (min-width: 992px) {
            transform: translateX(0%);
            top: 0;
            height: 100vh;
        }

        nav {
            ul {
                list-style-type: none;

                li {
                    width: 100%;
                    padding-left: 20px;

                    a {
                        color: white;
                        text-decoration: none;
                        display: block;
                        padding: 8px 20px 8px 28px;
                        align-items: center;
                        position: relative;

                        &::before {
                            content: '';
                            margin-right: 10px;
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 17px;
                            height: 17px;
                        }

                        &.dashboard::before {
                            //quelle: https://www.flaticon.com/free-icon/dashboard_1828791
                            background-image: url('../images/icons/dashboard.png');
                            width: 15px;
                            height: 15px;
                        }

                        &.posts::before {
                            //quelle: https://www.flaticon.com/free-icon/layer_1014362
                            background-image: url('../images/icons/posts.png');
                            width: 17px;
                            height: 17px;
                        }

                        &.products::before {
                            //quelle: https://www.flaticon.com/free-icon/box_8189068
                            background-image: url('../images/icons/products.png');
                            width: 16px;
                            height: 16px;
                        }

                        &.settings::before {
                            //quelle: https://www.flaticon.com/free-icon/settings_3524659
                            background-image: url('../images/icons/settings.png');
                            width: 17px;
                            height: 17px;
                        }

                        &.jobs::before {
                            //quelle: https://www.flaticon.com/free-icon/settings_3524659
                            background-image: url('../images/icons/jobs.png');
                            width: 17px;
                            height: 17px;
                        }
                    }
                }
            }
        }
    }

    header {
        width: 100%;
        height: 43px;
        background-color: #202025;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;

        @media screen and (min-width: 992px) {
            display: none;
        }

        #mobile-menu-toggle {
            width: 25px;
            height: 25px;
            background-image: url('../images/menu.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }

    .content-wrapper {
        width: 100%;

        @media screen and (min-width: 992px) {
            display: flex;
            justify-content: flex-end;

            .content {
                width: calc(100vw - 200px);
            }
        }
    }

    .overview-table {
        a.edit-link {
            color: #070b0b;
        }

        a.delete-link {
            color: #c00;
        }
    }

    .edit {

        input[type="text"], textarea, select {
            background-color: white;
            background-color: white;
            border: none;
        }

        input#title,
        textarea#content,
        textarea#description {
            width: 100%;

            @media screen and (min-width: 992px) {
                width: 80%;
            }
        }

        input#title,
        input#price {
            height: 40px;
            padding: 0px 10px;
        }

        textarea#content {
            height: 350px;
        }

        textarea#description {
            height: 200px;
        }

        label {
            display: inline-block;
            font-size: 22px;
            margin-bottom: 4px;
        }

        select {
            height: 30px;
            width: 150px;
        }
    }

    #error-message {
        box-shadow: inset 0px 0px 15px 1px rgba(29, 29, 32, 0.2);
        background-color: white;
        color: #ce3434;
        padding: 25px;
        border-radius: 8px;
    }
}